In [6]:
%pip install requests beautifulsoup4  html5lib pandas lxml
#https://krama.karnataka.gov.in/ scrap this

Requirement already satisfied: requests in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (2.32.5)
Requirement already satisfied: beautifulsoup4 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (4.14.2)
Requirement already satisfied: html5lib in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (1.1)
Requirement already satisfied: pandas in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (2.3.3)
Collecting lxml
  Downloading lxml-6.0.2-cp312-cp312-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl.metadata (3.6 kB)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from requests) (2025.10.5)
Requirement already satisfied: soupsieve>1.2 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: six>=1.9 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: numpy>=1.26.0 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/aic_u2/Shubhankar/ajrasakha/mcp/ajrasakha/mcp_env/lib/python3.12/site-packages (from pandas) (2025.2)
Downloading lxml-6.0.2-cp312-cp312-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 38.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-6.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
#https://krama.karnataka.gov.in/ scrap this

import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
response = requests.get('https://krama.karnataka.gov.in/')

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content
    soup = BeautifulSoup(response.text, 'html.parser')

In [12]:
import pandas as pd

url = "https://krama.karnataka.gov.in/"
tables = pd.read_html(url)  # returns list of DataFrames
df = tables[1]              # pick the first table
print(df.head())

                                                   0  \
0  ಉತ್ಪನ್ನಗಳ ಇತ್ತೀಚಿನ ಬೆಲೆಗಳು (*) ಗುರುತಿಸಿದ ಬೆಲೆಗ...
1                ಅದರಿಗಾಗಿ ವರದಿ ಮಾಡಲಾದ ಮಾರುಕಟ್ಟೆಗಳು :
2                                            ಉತ್ಪನ್ನ
3                                            Cereals
4                                       Wheat / ಗೋಧಿ

                                                   1  \
0  ಉತ್ಪನ್ನಗಳ ಇತ್ತೀಚಿನ ಬೆಲೆಗಳು (*) ಗುರುತಿಸಿದ ಬೆಲೆಗ...
1                ಅದರಿಗಾಗಿ ವರದಿ ಮಾಡಲಾದ ಮಾರುಕಟ್ಟೆಗಳು :
2                                        ಕನಿಷ್ಠ ಬೆಲೆ
3                                                NaN
4                                                NaN

                                                   2
0  ಉತ್ಪನ್ನಗಳ ಇತ್ತೀಚಿನ ಬೆಲೆಗಳು (*) ಗುರುತಿಸಿದ ಬೆಲೆಗ...
1                ಅದರಿಗಾಗಿ ವರದಿ ಮಾಡಲಾದ ಮಾರುಕಟ್ಟೆಗಳು :
2                                     ಅತ್ಯುತ್ತಮ ಬೆಲೆ
3                                                NaN
4                                                NaN

In [15]:
df

,0,1,2
0,ಉತ್ಪನ್ನಗಳ ಇತ್ತೀಚಿನ ಬೆಲೆಗಳು (*) ಗುರುತಿಸಿದ ಬೆಲೆಗ...,ಉತ್ಪನ್ನಗಳ ಇತ್ತೀಚಿನ ಬೆಲೆಗಳು (*) ಗುರುತಿಸಿದ ಬೆಲೆಗ...,ಉತ್ಪನ್ನಗಳ ಇತ್ತೀಚಿನ ಬೆಲೆಗಳು (*) ಗುರುತಿಸಿದ ಬೆಲೆಗ...
1,ಅದರಿಗಾಗಿ ವರದಿ ಮಾಡಲಾದ ಮಾರುಕಟ್ಟೆಗಳು :,ಅದರಿಗಾಗಿ ವರದಿ ಮಾಡಲಾದ ಮಾರುಕಟ್ಟೆಗಳು :,ಅದರಿಗಾಗಿ ವರದಿ ಮಾಡಲಾದ ಮಾರುಕಟ್ಟೆಗಳು :
2,ಉತ್ಪನ್ನ,ಕನಿಷ್ಠ ಬೆಲೆ,ಅತ್ಯುತ್ತಮ ಬೆಲೆ
3,Cereals,NaN,NaN
4,Wheat / ಗೋಧಿ,NaN,NaN
...,...,...,...
421,Suvarnagadde / ಸುವರ್ಣ ಗೆಡ್ಡೆ (*),2776,4200
422,Lime (Lemon) / ನಿಂಬೆಹಣ್ಣು,NaN,NaN
423,Lime (Lemon) / ನಿಂಬೆಹಣ್ಣು (*),300,7500
424,Bunch Beans / ಗೋರಿಕಾಯಿ,NaN,NaN
425,Bunch Beans / ಗೋರಿಕಾಯಿ (*),3000,5500

In [16]:
df = df.dropna(how='all')           # remove completely empty rows
df.columns = df.iloc[2]             # use the 3rd row as headers if needed
df = df[3:]                         # drop the header rows
df = df.reset_index(drop=True)
df

2                             ಉತ್ಪನ್ನ ಕನಿಷ್ಠ ಬೆಲೆ ಅತ್ಯುತ್ತಮ ಬೆಲೆ
0                             Cereals         NaN            NaN
1                        Wheat / ಗೋಧಿ         NaN            NaN
2             Mexican / ಮೆಕ್ಸಿಕನ್ (*)        2460           2541
3                      Sona / ಸೋನ (*)        2600           2600
4                     Red / ಕೆಂಪು (*)        2900           3475
..                                ...         ...            ...
418  Suvarnagadde / ಸುವರ್ಣ ಗೆಡ್ಡೆ (*)        2776           4200
419         Lime (Lemon) / ನಿಂಬೆಹಣ್ಣು         NaN            NaN
420     Lime (Lemon) / ನಿಂಬೆಹಣ್ಣು (*)         300           7500
421            Bunch Beans / ಗೋರಿಕಾಯಿ         NaN            NaN
422        Bunch Beans / ಗೋರಿಕಾಯಿ (*)        3000           5500

[423 rows x 3 columns]